{% extends 'base.html.twig' %}

{% block content_title %}
    Edition Email
{% endblock %}

{% block content %}
    {{ form_start(form,  { 'attr': {'class': 'form'} }) }}
    <div class="form-body">
        <h4 class="form-section"><i class="icon-head"></i> Modifier l'adresse email</h4>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="projectinput1">Email</label>
                    {{ form_widget(form.email,  { 'attr': {'class': 'form-control', 'placeholder':"Email"}}) }}

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="projectinput1">NOM</label>
                    {{ form_widget(form.name,  { 'attr': {'class': 'form-control', 'placeholder':"Nom"}}) }}

                </div>
            </div>
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            <i class="icon-check2"></i> Modifier
        </button>
    </div>
    {{ form_end(form) }}
{% endblock %}
