{% extends '::login.html.twig' %}

{% block content %}

       <div class="pageloader">
        <div class="loader">
            <div class="cssload-thecube"> <div class="cssload-cube cssload-c1"></div> <div class="cssload-cube cssload-c2"></div> <div class="cssload-cube cssload-c4"></div> <div class="cssload-cube cssload-c3"></div></div>                                    
        </div>
    </div><!-- Page Loader -->
    <div class="login-page">
        <div class="login-box">
            <div class="logo"><a href="#" title=""><img src="{{ asset('bundles/user/images/logo.png') }}" alt="" /></a></div>
            <strong>Login To Your Account</strong>
            <form action="{{ path("sf_security_check") }}"  method="post" >
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <input type="text" id="username" name="_username" placeholder="Username" />
                <input type="password" id="password" name="_password"  placeholder="password">
                <input type="checkbox" ><label>Remember Me</label>
                <button type="submit">Login</button>
            </form>
            {#
            <div class="login-links">
                <a href="forget.html" title="">Forgot Your Password?</a>
                <a href="signup.html" title="">Create New Account</a>
            </div>
            <div class="socials">
                <a class="fb" href="#" title=""><i class="fa fa-facebook"></i></a>
                <a class="twitter" href="#" title=""><i class="fa fa-twitter"></i></a>
                <a class="google-plus" href="#" title=""><i class="fa fa-google-plus"></i></a>
            </div>
            #}
        </div><!-- Login Box -->
    </div>
{% endblock %}